<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Life is Tech リリース率</title>
  </head>
  <body>
    <p>test</p>
    <form action="/image/0" method="post">
        <input type="text" name="test">
        <input type="submit" value="submit">
    </form>
  </body>
</html>